@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Resources/background.jpg);
    width:100%;
    height:670px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1
{
    margin-top:10px;
    text-align: center;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
}
.Entities
{
    width: 50%;
    height: 70%;
    max-width: 50em;
    background-color: rgba(188, 194, 197, 0.4);
    position: relative;
    top: 0.1em;
    left: 22%;
    padding: 2em;
    border-radius: 3.5em 0 3.5em 0;
    border: 2px solid black;
    text-align: center;
    font-family: 'Merienda', cursive;
}
#Button1
{
 color: whitesmoke;
 background-color: rgb(13, 68, 119);
 font-weight: bold;
 width: 100px;
 height: 30px;
 border-radius: 1em;
}
#Button1:hover
{
background-color: rgb(206, 218, 47);
color: black;
}
#Result
{ 
    margin-top:25%;
    margin-left: 31%;
    margin-bottom:15%; 
}